// Colors
$card-container: rgba(100, 100, 100, 0.3);
$header: #0c0c0c;
$main: #141414;
$overlay: rgba(0, 0, 0, 0.75);
$text: #ffffff;
$stars: #ffd700;

// Sizes
$header-height: 6.25rem;
$poster-height: 32.0625rem;
$poster-width: 21.375rem;